<div class="main-content" id="search">
    <div class="container-fluid">
        <div class="row m30">
            <div class="col-md-12" *ngIf="decksOfUser">
                <div class="row justify-content-center d-flex no-bs-gutter-x">
                    <div class="card">
                        <div class="content control-pagination">
                            <span class="number">{{decksOfUser.totalElements}} {{'DeckNumbers' | translate}} </span>
                            <pagination-controls *ngIf="decksOfUser.totalElements > decksOfUser.size"
                                                 (pageChange)="changePage($event)"
                                                 [nextLabel]="'Next' | translate"
                                                 [previousLabel]="'Previous' | translate"></pagination-controls>
                        </div>

                    </div>
                </div>
                <div class="row  m30 justify-content-center d-flex">
                    <opdb-deck-results [decks]="decksOfUser"></opdb-deck-results>
                </div>
                <div class="row m30 text-center justify-content-center d-flex no-bs-gutter-x"
                     *ngIf="decksOfUser.totalElements > decksOfUser.size">
                    <div class="card">
                        <div class="content">
                            <pagination-controls (pageChange)="changePage($event)"
                                                 [nextLabel]="'Next' | translate"
                                                 [previousLabel]="'Previous' | translate"></pagination-controls>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
