<div class="all-charts">
    <div class="chart-container">
        <span class="chart-title">{{'CostChart' | translate}}</span>
        <opdb-deck-cost-bar-chart [deck]="deck"></opdb-deck-cost-bar-chart>
    </div>
    <div class="chart-container">
        <span class="chart-title">{{'TypePieChart' | translate}}</span>
        <opdb-deck-type-pie-chart [deck]="deck"></opdb-deck-type-pie-chart>
    </div>
    <div class="chart-container">
        <span class="chart-title">{{'PowerChart' | translate}}</span>
        <opdb-deck-power-bar-chart [deck]="deck"></opdb-deck-power-bar-chart>
    </div>
</div>


