<nav class="navbar navbar-default" id="top">
    <div class="container-fluid">
        <div class="full-header" *ngIf="!isMobileMenu()">
            <div class="header-left header-part">
                <p class="hidden-lg hidden-md">{{getTitle() | translate}}</p>
            </div>
            <div class="header-right header-part">
                <button type="" [class]="{'pe-7s-moon' :!this.isDarkMode, 'pe-7s-sun': this.isDarkMode}"
                        (click)="changeMode()"></button>
                <li class="google-user" *ngIf="user">
                    <img [src]="user.photoUrl" alt="profile-picture"/>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-bs-toggle="dropdown">
                        {{'LanguageChoice' | translate}}
                        <strong class="caret"></strong>
                    </a>
                    <ul class="dropdown-menu">
                        <li (click)="changeLanguage('en')"><a>{{'English' | translate}}</a></li>
                        <li (click)="changeLanguage('fr')"><a>{{'French' | translate}} (beta)</a></li>
                    </ul>
                </li>
                <li class="google" *ngIf="!user">
                    <span>{{'Connection' | translate}} :</span>
                    <asl-google-signin-button id="google-button"></asl-google-signin-button>
                </li>

                <li *ngIf="user">
                    <a (click)="logOut()">
                        {{'Disconnection' | translate}}
                    </a>
                </li>
            </div>

        </div>
        <div class="short-header header-part" *ngIf="isMobileMenu()"
             [style]="sidebarOpened ? 'padding-left: 260px' : ''">
            <button type="" class="pe-7s-menu" (click)="clickMenu()"></button>
            <button type="" [class]="{'pe-7s-moon' :!this.isDarkMode, 'pe-7s-sun': this.isDarkMode}"
                    (click)="changeMode()"></button>
        </div>
    </div>
</nav>
