<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">{{'FilterTitle' | translate}}</h4>
                        <p class="category">{{'FilterInformation' | translate}}</p>
                    </div>
                    <form class="content" [formGroup]="searchForm" (submit)="launchSearch()">
                        <ng-multiselect-dropdown *ngIf="colors && dropdownSettings"
                                                 name="colors"
                                                 [settings]="dropdownSettings"
                                                 [placeholder]="colorPlaceHolder"
                                                 [data]="colors"
                                                 formControlName="colors">
                        </ng-multiselect-dropdown>
                        <button type="submit" class="btn btn-info btn-fill center-block">
                            {{'SearchButton' | translate}}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
