<div class="sidebar-wrapper">
    <div class="logo">
        <a routerLink="/search" class="simple-text logo-img">
            <img src="/assets/img/icon.png"/>
            <span>One Piece Deck Builder</span>
        </a>
    </div>
    <ul class="nav responsive-nav">
        <li class="google-user" *ngIf="user && isMobileMenu()">
            <img [src]="user.photoUrl"/>
        </li>
        <li class="google" *ngIf="!user && isMobileMenu()">
            <span style="color: #FFFFFF">{{'Connection' | translate}} :</span>
            <asl-google-signin-button id="google-button"></asl-google-signin-button>
        </li>
        <li class="dropdown" *ngIf="isMobileMenu()">
            <a class="dropdown-toggle" data-toggle="dropdown">
                {{'LanguageChoice' | translate}}
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li (click)="changeLanguage('en')"><a>{{'English' | translate}}</a></li>
                <li (click)="changeLanguage('fr')"><a>{{'French' | translate}}</a></li>
            </ul>
        </li>
        <li *ngIf="isMobileMenu() && user">
            <a>
                <p>{{'Disconnection' | translate}}</p>
            </a>
        </li>
        <li class="separator hidden-lg hidden-md" *ngIf="isMobileMenu()"></li>
        <ng-container *ngFor="let menuItem of menuItems">
            <li routerLinkActive="active"  class="{{menuItem.class}}" *ngIf="!menuItem.connected || user">
                <a [routerLink]="[menuItem.path]">
                    <i class="{{menuItem.icon}}"></i>
                    <p>{{menuItem.title | translate}}</p>
                </a>
            </li>
        </ng-container>

    </ul>
</div>
