.modal-body {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  button.arrow {
    background: var(--main-blue-color);
    color: white;
    font-weight: 800;
    font-size: 40px;
    border: none;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    height: 40px;
    width: 40px;
  }
}

.info-container {
  display: flex;
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 0;
  width: 100%;

  .image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;

    img {
      max-width: 360px;
    }

    ::ng-deep .ngx-pagination {
      padding-left: 0 !important;
    }

  }

  .power-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 350px;

    .basic-info, .tags, .effect {
      padding: 10px 0;
      border-bottom: solid 1px lightgray;
    }

    .tags:last-of-type {
      border-bottom: none;
    }

    .info {
      span:first-of-type {
        font-weight: 600;
        width: 70px;
      }
    }

    .basic-info {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      align-items: center;
      gap: 20px;

      .info {
        flex: 1;
        display: flex;
        gap: 20px;
        align-items: center;

      }
    }

    .tags {
      width: 100%;

      ul {
        padding-left: 15px;
        list-style: none;
        margin-bottom: 0;

        li {
          padding: 6px 0;
        }
      }
    }
  }


}

.modal-header {

  h4 {
    margin: 0 !important;
    font-weight: 900;
    font-size: 26px;
  }

  button {
    opacity: 1;
    border: solid 2px white;
    background: #202020;
    color: white;
    font-weight: 900;
    font-size: 30px;
  }
}

.effect {
  width: 100%;
  .stylized {
    line-height: 34px;
    padding: 10px 0 10px 15px;
  }
}

@media screen and (max-width: 450px) {
  .power-container  {
    width: 100%;
    min-width: unset!important;
  }
}

@media screen and (max-width: 880px) {
  .power-container {
    max-width: 500px!important;
    width: 100%;
  }
  .modal-body {
    align-items: unset!important;
    button.arrow {
      margin-top: 250px;
    }
  }
}

@media screen and (max-width: 500px) {
  .modal-body {
    button.arrow {
      margin-top: 167px!important;
    }
  }
  .info-container {
    img {
      max-width: 240px!important;
    }
  }
}

