<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">[{{card?.id}}] {{card?.label}}</h4>
    <button type="button" class="btn-close pe-7s-close" (click)="close()"></button>
</div>
<div class="modal-body">
    <div class="info-container">
        <div class="image-container">
            <img *ngFor="let image of card?.images | paginate : {
                               id: 'card-image',
                               itemsPerPage: 1,
                               currentPage: currentImageIndex,
                               totalItems: card.images.length}; let index = index"
                 [src]="_configurationService.getApiUrl() + 'cards/image/' + image"
                 [alt]="card?.label"/>
            <pagination-controls *ngIf="card?.images?.length > 1" (pageChange)="changePage($event)"
                                 id="card-image"
                                 [nextLabel]="'Next' | translate"
                                 [previousLabel]="'Previous' | translate"></pagination-controls>
        </div>
        <div class="power-container">
            <div class="basic-info">
                <div class="info" *ngIf="card?.colors?.length">
                    <span>{{'Color'|translate}} </span>
                    <span>{{getColors(card?.colors) || '-'}}</span>
                </div>
                <div class="info" *ngIf="card?.type?.label">
                    <span>{{'Type'|translate}} </span>
                    <span>{{card?.type?.label || '-'}}</span>
                </div>


            </div>
            <div class="basic-info">
                <div class="info" *ngIf="card?.rarity?.label">
                    <span>{{'Rarity'|translate}} </span>
                    <span>{{card?.rarity?.label || '-'}}</span>
                </div>
                <div class="info" *ngIf="card?.cost">
                    <span>{{'Cost'|translate}} </span>
                    <span>{{card?.cost || '-'}}</span>
                </div>
            </div>
            <div class="basic-info" *ngIf="card?.power || card?.life">
                <div class="info" *ngIf="card?.life">
                    <span>{{'Life'|translate}} </span>
                    <span>{{card?.life || '-'}}</span>
                </div>
                <div class="info" *ngIf="card?.power">
                    <span>{{'Power'|translate}} </span>
                    <span> {{card?.power || '-'}}</span>
                </div>
            </div>
            <div class="basic-info" *ngIf="card?.attribute?.label">
                <div class="info">
                    <span>{{'Attribute'|translate}} </span>
                    <span> {{card?.attribute?.label || '-'}}</span>
                </div>

            </div>
            <div class="effect" *ngIf="card?.effect">
                <div class="info d-flex flex-column" >
                    <span>{{'Effect'|translate}}</span>
                    <span class="stylized" [innerHTML]="getEffectStylized(card?.effect)"></span>
                </div>
            </div>
            <div class="tags" *ngIf="card?.tags?.length">
                <div class="info d-flex flex-column">
                    <span>{{'Tags'|translate}} </span>
                    <ul>
                        <li *ngFor="let tag of card?.tags">
                            {{tag?.label}}
                        </li>
                    </ul>
                </div>

            </div>
            <div class="tags" *ngIf="card?.products?.length">
                <div class="info d-flex flex-column">
                    <span>{{'Product'|translate}} </span>
                    <ul>
                        <li *ngFor="let product of card?.products">
                            {{product?.label}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
