<div class="card-img">
    <ng-container *ngFor="let img of card.images; let index = index">
        <img [class]="{'leader-in-deck': inDeck && card.type.id === TypeEnum.LEADER,
                'card-in-deck': inDeck && card.type.id !== TypeEnum.LEADER,
                 'visible': index === currentImageIndex}"
             [src]="_configurationService.getApiUrl() + 'cards/image/' + img" (click)="isClicked(card)"
             [alt]="card?.label"/>
    </ng-container>

    <span class="count" *ngIf="inDeck && countInDeck > 0">{{countInDeck}}</span>
</div>

