.card-img {
  padding: 15px 10px;
  display: flex;
  justify-content: center;
  position: relative;

  img {
    max-width: 225px;
    width: 100%;
    min-height: 153px;
    object-fit: contain;
    cursor: pointer;
    display: none;
    opacity: 0;
    transition: opacity 0.5s linear;

    &.visible {
      display: block;
      opacity: 1;
    }
  }

  .leader-in-deck {
    width: 200px;
    object-fit: contain;
  }

  .card-in-deck {
    width: 110px;
    object-fit: contain;
  }

  .in-hand-shuffler {
    max-width: 150px;
  }

  .count {
    position: absolute;
    background: var(--main-blue-color);
    padding: 4px 10px;
    border-radius: 30px;
    color: white;
    font-weight: 700;
    font-size: 14px;
    bottom: 120px;
    left: 100px;
  }

  .eye-button {
    display: none;
    position: absolute;
    background: var(--main-blue-color);
    padding: 1px 2px;
    border: none;
    border-radius: 30px;
    color: white;
    font-weight: 700;
    font-size: 24px;
    bottom: 85px;
    left: 100px;
  }
}

.has-eye-button:hover {
  .eye-button {
    display: block;
  }
}
