.card-img {
  padding: 15px 10px;
  display: flex;
  justify-content: center;
  position: relative;
  img {
    max-width: 200px;
    width: 100%;
    object-fit: contain;
    cursor: pointer;
  }
  .leader-in-deck {
    width: 200px;
    object-fit: contain;
  }
  .card-in-deck {
    width: 110px;
    object-fit: contain;
  }
  .count {
    position: absolute;
    background: #FB404B;
    padding: 6px 14px;
    border-radius: 30px;
    color: white;
    font-weight: 700;
    font-size: 20px;
    bottom: 20px;
  }
}
