<mat-sidenav-container class="wrapper">
    <mat-sidenav mode="side" [opened]="sidebarOpened" [class]="'sidebar ' + currentBackgroundSidebar" data-image="">
        <opdb-sidebar></opdb-sidebar>
        <div class="sidebar-background" [style]="'background-image: url(' + currentImageSidebar + ')'"></div>

    </mat-sidenav>


    <mat-sidenav-content class="main-panel" [class]="{'w-100': !sidebarOpened}">
        <button *ngIf="!isMobileMenu()" class="sidebar-button" [style]="'background:' + getHexaColorByName(currentBackgroundSidebar)" type="button"
                (click)="switchSideBarMode()">
            {{sidebarOpened ? '<<' : '>>'}}
        </button>
        <opdb-navbar (clickMenuButton)="switchSideBarMode()" [sidebarOpened]="sidebarOpened"></opdb-navbar>
        <router-outlet></router-outlet>
        <opdb-footer></opdb-footer>
    </mat-sidenav-content>

</mat-sidenav-container>
