<div class="main-content" id="search">
    <div class="container-fluid">
        <div class="row m30">
            <div class="col-12">
                <div class="card card-tab">
                    <div class="header">
                        <h4 class="title">Bienvenue sur One Piece Deck Builder</h4>
                    </div>
                    <div class="content welcome-text">
                        <img alt="luffy" src="assets/img/welcome-luffy.png" width="200px"/>
                        <div>
                            <span>
                                {{ 'Welcome-1'  | translate }}
                            </span>
                            <span>
                                {{ 'Welcome-2'  | translate }}
                            </span>
                            <span>
                                {{ 'Welcome-3'  | translate }}
                            </span>



                            L'aventure prend une toute nouvelle dimension lorsque vous vous connectez via votre compte
                            Google. Cette connexion vous ouvre les portes pour enregistrer vos decks et les partager
                            anonymement avec la communauté florissante de joueurs. Partagez vos créations, échangez des
                            idées et perfectionnez vos tactiques ensemble, tout en préservant votre mystère.

                            Pour une expérience encore plus personnalisée, la fonctionnalité de mise en favori vous
                            permet de garder une trace facile de vos decks préférés. Plus besoin de parcourir des pages
                            interminables, vos stratégies les plus précieuses sont à portée de clic.

                            Que vous aspiriez à devenir le Roi des Pirates du One Piece Card Game ou que vous
                            recherchiez simplement des aventures ludiques avec des amis, One Piece Deck Builder est
                            votre boussole dans ce monde de cartes et de stratégies. Rejoignez-nous dès maintenant et
                            écrivons ensemble les légendes épiques du jeu !

                            Larguez les amarres et embarquez pour l'excitation infinie du One Piece Card Game avec One
                            Piece Deck Builder !
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
