.select-container {
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;
  width: 100%;

  .small-select {
    min-width: 200px;
    flex-basis: auto;
    flex-grow: 1;
  }

  .large-select {
    min-width: 360px;
    flex-basis: auto;
    flex-grow: 1;
  }
}
