<div class="card">
    <div class="header">
        <h4 class="title">{{'FilterTitle' | translate}}</h4>
        <p class="category">{{'FilterInformation' | translate}}</p>
    </div>
    <form class="content" [formGroup]="searchForm" (reset)="resetSearch()" (submit)="validForm()">
        <div class="select-container">
            <div class="form-group small-select">
                <ng-multiselect-dropdown *ngIf="types && dropdownSettings"
                                         name="types"
                                         [settings]="dropdownSettings"
                                         [placeholder]="typePlaceHolder"
                                         [data]="types"
                                         formControlName="types">
                </ng-multiselect-dropdown>
            </div>
            <div class="form-group small-select">
                <ng-multiselect-dropdown *ngIf="colors && dropdownSettings"
                                         name="colors"
                                         [settings]="dropdownSettings"
                                         [placeholder]="colorPlaceHolder"
                                         [data]="colors"
                                         formControlName="colors">
                </ng-multiselect-dropdown>
            </div>
            <div class="form-group small-select">
                <ng-multiselect-dropdown *ngIf="rarities && dropdownSettings"
                                         name="rarities"
                                         [settings]="dropdownSettings"
                                         [placeholder]="rarityPlaceHolder"
                                         [data]="rarities"
                                         formControlName="rarities">
                </ng-multiselect-dropdown>
            </div>
            <div class="form-group large-select">
                <ng-multiselect-dropdown *ngIf="tags && dropdownSettings"
                                         name="tags"
                                         [settings]="dropdownSettings"
                                         [placeholder]="tagPlaceHolder"
                                         [data]="tags"
                                         formControlName="tags">
                </ng-multiselect-dropdown>
            </div>
        </div>
        <div class="row px-1 actions">
            <button type="reset" class="btn btn-default btn-fill">
                {{'ClearButton' | translate}}
            </button>
            <button type="submit" class="btn btn-success btn-fill">
                {{'SearchButton' | translate}}
            </button>
        </div>
    </form>
</div>
