.not-valid {
    color: red;
}

.card-not-valid {
    box-shadow: 0 1px 1px red, 0 0 0 1px red !important;
}

.actions {
    padding: 15px 0;
    justify-content: left;
}

.card-tab {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}


.dashboard-card-content {
    width: 100%;
    height: calc(100% - 30px);
    display: flex;
    flex-flow: column;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background: transparent !important;
}

.card-no-background {
    background: transparent !important;
    box-shadow: none !important;
}
