.not-valid {
    color: red;
}

.card-not-valid {
    box-shadow: 0 1px 1px red, 0 0 0 1px red !important;
}

.actions {
    padding: 15px 0;
    justify-content: left;
}

::ng-deep .ngx-tab__content {
    padding: 2px 0 0 0 !important;
    border-top: none !important;
}

::ng-deep .ngx-tabs__btn {
    border: none !important;
}

::ng-deep .active {
    outline: solid 1px rgb(63 63 68 / 10%);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: var(--main-blue-color) !important;
}

.card-tab {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}


.dashboard-card-content {
    width: 100%;
    height: calc(100% - 30px);
    display: flex;
    flex-flow: column;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background: transparent !important;
}

.card-no-background {
    background: transparent !important;
    box-shadow: none !important;
}

