<div class="main-content" id="search">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-sm-12 col-12">
                <opdb-search-filter (formValueChanged)="formSubmitted($event)"></opdb-search-filter>
            </div>
            <div class="col-md-8 col-sm-12 col-12">
                <opdb-card-results (cardClick)="addCardToDeck($event)" [cardMaxWidth]="125" *ngIf="searchResult"
                                   [cardResult]="searchResult" (pageChanged)="changePage($event)"></opdb-card-results>
            </div>
        </div>
        <div class="row">
            <ngx-tabs>
                <ngx-tab name="Deck" [active]="true">
                    <div class="col-12">
                        <div class="card card-tab" [class]="{'card-not-valid': deckIsNotValid}">
                            <div class="header">
                                <h4 class="title">{{'Deck' | translate}}</h4>
                                <p class="category not-valid" *ngIf="deckIsNotValid">{{'NotValidDeck' | translate}}</p>
                            </div>
                            <div class="content">
                                <div class="actions">
                                    <button class="btn btn-danger"
                                            (click)="eraseDeck()">{{'Erase' | translate}}</button>
                                </div>
                                <opdb-deck-visualisation (cardIsClicked)="deleteCardFromDeck($event)" [isBuilding]="true"
                                                         [deck]="deck"></opdb-deck-visualisation>
                            </div>
                        </div>
                    </div>
                </ngx-tab>
                <ngx-tab [name]="statisticsText">
                    <div class="col-12">
                        <div class="card card-tab" [class]="{'card-not-valid': deckIsNotValid}">
                            <div class="content dashboard-card-content">
                                <opdb-deck-statistiques [deck]="deck"></opdb-deck-statistiques>
                            </div>
                        </div>
                    </div>
                </ngx-tab>
                <ngx-tab [name]="handText">
                    <div class="col-12">
                        <div class="card card-tab" [class]="{'card-not-valid': deckIsNotValid}">
                            <div class="content">
                                <opdb-hand-shuffler [deck]="deck"></opdb-hand-shuffler>
                            </div>
                        </div>
                    </div>
                </ngx-tab>
            </ngx-tabs>
        </div>
    </div>
</div>
