<div class="main-content" id="search">
    <div class="container-fluid">
        <div class="row">
            <div class="m30 col-md-4 col-sm-12 col-12">
                <opdb-search-filter (formValueChanged)="formSubmitted($event)"></opdb-search-filter>
            </div>
            <div class="m30 col-md-8 col-sm-12 col-12">
                <opdb-card-results (cardClick)="addCardToDeck($event)" [cardMaxWidth]="125" *ngIf="searchResult"
                                   [inDeckBuilding]="true"
                                   [cardResult]="searchResult" (pageChanged)="changePage($event)"></opdb-card-results>
            </div>
        </div>
        <div class="row m30" *ngIf="!needRenderer">
            <p-tabView [(activeIndex)]="activeTab">
                <p-tabPanel>
                    <ng-template pTemplate="header">
                        <span class="tab-header" [class.active]="activeTab === 0">Deck</span>
                    </ng-template>
                    <div class="col-12">
                        <div class="card card-tab" [class]="{'card-not-valid': deckIsNotValid}">
                            <div class="header">
                                <h4 class="title">{{'Deck' | translate}}: {{deck?.cards?.length}} {{'card(s)' | translate}}</h4>
                                <p class="category not-valid" *ngIf="deckIsNotValid">{{'NotValidDeck' | translate}}</p>
                            </div>
                            <div class="content">
                                <div class="actions">
                                    <button class="btn btn-danger btn-fill"
                                            (click)="eraseDeck()">{{'Erase' | translate}}</button>
                                </div>
                                <opdb-deck-visualisation (cardIsClicked)="deleteCardFromDeck($event)"
                                                         [isBuilding]="true"
                                                         [deck]="deck"></opdb-deck-visualisation>
                            </div>
                        </div>
                    </div>
                </p-tabPanel>
                <p-tabPanel>
                    <ng-template pTemplate="header">
                        <span class="tab-header" [class.active]="activeTab === 1">{{statisticsText}}</span>
                    </ng-template>
                    <div class="col-12">
                        <div class="card card-tab card-no-background" [class]="{'card-not-valid': deckIsNotValid}">
                            <div class="dashboard-card-content">
                                <opdb-deck-statistiques class="stats-deck" [deck]="deck"></opdb-deck-statistiques>
                            </div>
                        </div>
                    </div>
                </p-tabPanel>
                <p-tabPanel>
                    <ng-template pTemplate="header">
                        <span class="tab-header" [class.active]="activeTab === 2">{{handText}}</span>
                    </ng-template>
                    <div class="col-12">
                        <div class="card card-tab" [class]="{'card-not-valid': deckIsNotValid}">
                            <div class="content">
                                <opdb-hand-shuffler [deck]="deck"></opdb-hand-shuffler>
                            </div>
                        </div>
                    </div>
                </p-tabPanel>
                <p-tabPanel *ngIf="isUserConnected">
                    <ng-template pTemplate="header">
                        <span class="tab-header" [class.active]="activeTab === 3">{{saveText}}</span>
                    </ng-template>
                    <div class="col-12">
                        <div class="card card-tab" [class]="{'card-not-valid': deckIsNotValid}">
                            <div class="header">
                                <h4 class="title">{{'SaveText' | translate}}</h4>
                                <p class="category">{{'SaveDescription' | translate}}</p>
                            </div>
                            <div class="content">
                                <opdb-save-deck [deck]="deck" [isDeckValid]="isDeckValid"></opdb-save-deck>
                            </div>
                        </div>
                    </div>
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>
</div>
