<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://en.onepiece-cardgame.com/">
                        {{'OfficialWebSite' | translate}}
                    </a>
                </li>
                <li>
                    <a href="https://github.com/Jonathan-Jusseaume/one-piece-deck-builder-front">
                        {{'Github' | translate}}
                    </a>
                </li>
            </ul>
        </nav>
        <p class="copyright pull-right">
            © Eiichiro Oda/Shueisha ©Eiichiro Oda/Shueisha, Toei Animation &copy; BANDAI CO.,LTD ALL RIGHTS RESERVED &copy; Creative Tim
        </p>
    </div>
</footer>
