<ng-container *ngIf="deck">
    <div class="card">
        <div class="header">
            <h4 class="title">
                {{deck?.name}}
            </h4>
            <p class="category italic">
                {{'CreationDate' | translate}} : {{deck.creationDate | date: 'dd/MM/yyyy'}}
            </p>
        </div>
        <div class="content">

            <opdb-card [card]="deck?.leader"></opdb-card>
            <div class="details">

            </div>
        </div>
    </div>

</ng-container>
